{% extends '_layout/base.html' %}

{% block title %}ASCII Chan{% endblock %}

{% block body %}
    <form action="/" method="post">
        <label for="Title">
            <span>Title:</span>
            <br>
            <input type="text" name="title" id="art-title" value="{{ title }}"/>
        </label>
        <br>
        <label for="Art">
            <span>Art:</span>
            <br>
            <textarea name="art" id="art-ascii-art" cols="30" rows="10">{{ art }}</textarea>
        </label>
        <br>
        <input type="submit" />
        <div class="error"> {{ error }} </div>
    </form>

    <hr>


    {% for theart in listOfArt %}
        <div class="art">
            <div class="art-title">{{ theart.title }}</div>
            <pre class="art-body">{{ theart.art }}</pre>
        </div>
    {% endfor %}

    
{% endblock %}

