{% extends '_layout/base.html' %}

{% block title %}Make a new Post!{% endblock %}

{% block css %}
    <style type="text/css">
        .error {
            color: darkred;
        }
    </style>
{% endblock %}

{% block body %}
    <form action="" method="post">
        <label for="Text">
            Title:
            <br>
            <input type="text" name="title" value="{{ title }}"/>
        </label>
        <br>
        <label for="Content">
            Content:
            <br>
            <textarea name="content" cols="30" rows="10">{{ content }}</textarea>
        </label>
        <br>
        <input type="submit"/>
    </form>
    <div class="error">
        {{ error }}
    </div>

{% endblock %}