{% extends '_layout/base.html' %}

{% block body %}
    <form action="" method="post">
        <label for="Putting Username">
            Username:
            <input type="text" name="username" value="{{ username }}"/> {{ username_error }}
            <br>
        </label>
        <label for="Putting in password">
            Password:
            <input type="password" name="password" value="{{ password }}"/> {{ password_error }}
            <br>
        </label>
        <label for="Verification">
            Verify Password:
            <input type="password" name="verify" value="{{ verify }}"/>
            <br>
        </label>
        <label for="E-mail">
            E-mail address:
            <input type="text" name="email" id="E-mail" value="{{ email }}"/> {{ email_error }}
            <br>
        </label>
        <input type="submit"/>
    </form>
{% endblock %}